In [1]:
%load_ext sql

In [2]:
%%sql
sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

--Domain Integrity Queries --(check that each column has sensible data types)

--Check to see that faculty names match to the classes and departments they teach in

In [3]:
%%sql
SELECT Name, Course_title, Program_name
FROM PROFESSORS_DW
  JOIN CLASS_FACTS_DW USING (professor_id)
  JOIN PROGRAMS_DW USING (program_id)
  JOIN COURSES_DW USING (course_id)
    GROUP BY Program_name
    LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Rebecca I.  Bloch', 'Introduction to Financial Accounting', 'Accounting'),
 ('Peter L.  Bayers', 'Roots of American Culture', 'American Studies'),
 ('Marcela   Aliaga', 'Introduction to Four-Field Anthropology', 'Anthropology'),
 ('Robert A.  Liftig', 'Ethics and the Community', 'Applied Ethics'),
 ('Yasir G.  Hamed', 'Elementary Modern Standard Arabic I', 'Arabic'),
 ('Philip I.  Eliasoph', 'Origins and Transformations in Western Art', 'Art History'),
 ('Susan L.  Freudzon', 'Biomechanics', 'Bioengineering'),
 ('Mary W.  Clark', 'Fundamentals of Biology I', 'Biology'),
 ('Anna M.  Lawrence', 'Black Lives Matter', 'Black Studies'),
 ('Sharlene A.  McEvoy', 'Legal Environment of Business', 'Business')]

--Entity Integrity Queries --(check that the number of records in each table makes sense)

In [13]:
%%sql
SELECT 
    (SELECT Count(*) FROM COURSES_DW) as CatalogCourses,
    (SELECT Count(*) FROM PROFESSORS_DW) as Professors,
    (SELECT Count(*) FROM LOCATIONS_DW) as LocationMeetings

 * sqlite:///CourseDataWarehouse.db
Done.

[(4440, 1104, 207)]

In [4]:
%%sql
SELECT COUNT(Name)
FROM PROFESSORS_DW;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1104,)]

In [5]:
%%sql
SELECT DISTINCT COUNT(Name)
FROM PROFESSORS_DW;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1104,)]

In [6]:
%%sql
SELECT COUNT(Credits)
FROM COURSES_DW;

 * sqlite:///CourseDataWarehouse.db
Done.

[(4440,)]

In [10]:
%%sql
SELECT COUNT(Catalog_id)
FROM COURSES_DW;

 * sqlite:///CourseDataWarehouse.db
Done.

[(4440,)]

In [14]:
%%sql
SELECT COUNT(Location_id)
FROM LOCATIONS_DW;

 * sqlite:///CourseDataWarehouse.db
Done.

[(207,)]

In [15]:
%%sql
SELECT COUNT(Cap)
FROM CLASS_FACTS_DW;

 * sqlite:///CourseDataWarehouse.db
Done.

[(10316,)]

In [17]:
%%sql
SELECT COUNT(Actual)
FROM CLASS_FACTS_DW;

 * sqlite:///CourseDataWarehouse.db
Done.

[(10316,)]

Relational Integrity Queries -- testing to ensure that table relationships are consistent, or that any foreign key field must agree with the primary key that is referenced by the foreign key.  Are the FKs JOIN-compatible with the PKs? does each mandatory relationship have a corresponding NOT NULL constraint?

Which programs does Professor Lane teach?  Want to see that he teaches Economics and Finance

In [20]:
%%sql
SELECT DISTINCT Name,Program_Code
FROM PROFESSORS_DW
    JOIN CLASS_FACTS_DW USING(Professor_id)
    JOIN COURSES_DW USING(Course_id)
    JOIN PROGRAMS_DW USING(Program_id)
WHERE Name LIKE '%Lane%'
;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Philip J.  Lane', 'EC'), ('Philip J.  Lane', 'FI')]