# Data Warehouse Utilization

In [2]:
%load_ext sql

In [3]:
%%sql
sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

## Which classroom is the most utilized, and what programs hold classes there? (Done)

In [72]:
%%sql
SELECT location, COUNT(course_id) as count
FROM LOCATIONS_DW 
    JOIN CLASS_FACTS_DW USING (location_id)
    JOIN COURSES_DW USING (course_id)
GROUP BY location 
ORDER BY count DESC
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('DSB 112', 171),
 ('BNW 341', 160),
 ('DSB 109', 158),
 ('NHS 301', 158),
 ('CNS 101', 157),
 ('DSB 106', 157),
 ('CNS 108', 154),
 ('BNW 137', 152),
 ('CNS 106', 149),
 ('DSB 108', 148)]

In [12]:
%%sql
SELECT program_name AS Program, count(catalog_id) AS Count
FROM COURSES_DW 
    JOIN CLASS_FACTS_DW USING (course_id)
    JOIN PROGRAMS_DW USING (program_id)
    JOIN LOCATIONS_DW USING (location_id)
    WHERE location = 'DSB 112'
    GROUP BY program_name
    ORDER BY Count DESC;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Accounting', 63),
 ('Marketing', 38),
 ('Management', 26),
 ('Finance', 21),
 ('Operations Management', 10),
 ('Information Systems', 8),
 ('Taxation', 5)]

## Which classes go over capacity the most frequently?

Problem- why are some professors teaching multiple sections of the same course? 6 sections of AC 0012 by same prof? check if accurate...

In [4]:
%%sql
SELECT COURSES_DW.CatalogYear, professor_id, COURSES_DW.Course_id, Catalog_id, Course_title, Timecodes, Cap, Actual, Remaining
FROM COURSES_DW    
    JOIN CLASS_FACTS_DW USING (course_id)
    JOIN TIMECODES_DW USING(Timecode_id)
    WHERE Remaining < 0 AND Cap != 0
    --GROUP BY course_title
    ORDER BY professor_id
    LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('2017_2018', 2, 135, 'AC 0012', 'Introduction to Management Accounting', "['MR 1100am-1215pm 01/16-05/01 DSB 108']", 25, 27, -2),
 ('2017_2018', 2, 135, 'AC 0012', 'Introduction to Management Accounting', "['MR 1100am-1215pm 01/16-05/01 DSB 108']", 25, 27, -2),
 ('2017_2018', 2, 135, 'AC 0012', 'Introduction to Management Accounting', "['MR 1100am-1215pm 01/16-05/01 DSB 108']", 25, 27, -2),
 ('2017_2018', 2, 135, 'AC 0012', 'Introduction to Management Accounting', "['MR 1230pm-0145pm 01/16-05/01 DSB 108']", 25, 29, -4),
 ('2017_2018', 2, 135, 'AC 0012', 'Introduction to Management Accounting', "['MR 1230pm-0145pm 01/16-05/01 DSB 108']", 25, 29, -4),
 ('2017_2018', 2, 135, 'AC 0012', 'Introduction to Management Accounting', "['MR 1230pm-0145pm 01/16-05/01 DSB 108']", 25, 29, -4),
 ('2017_2018', 3, 161, 'AC 0330', 'Auditing', "['MR 0200pm-0315pm 09/05-12/11 DSB 112']", 26, 27, -1),
 ('2017_2018', 3, 161, 'AC 0330', 'Auditing', "['MR 0200pm-0315pm 09/05-12/11 DSB 112']", 26, 27, -1),
 ('2017_2018', 3, 161, 'AC 0330', 'Auditing', "['MR 0330pm-0445pm 09/05-12/11 DSB 112']", 26, 27, -1),
 ('2017_2018', 3, 161, 'AC 0330', 'Auditing', "['MR 0330pm-0445pm 09/05-12/11 DSB 112']", 26, 27, -1)]

In [5]:
%%sql
--do not delete: original code of previous cell, save for reference
    
SELECT COURSES_DW.Course_id, Catalog_id, Course_title, Cap, Actual, Remaining, COUNT(course_id) AS Overflow_count
FROM COURSES_DW    
    JOIN CLASS_FACTS_DW USING (course_id)
    WHERE Remaining < 0 AND Cap != 0
    --GROUP BY CLASS_FACTS_DW.Course_id
    ORDER BY Overflow_count DESC
    LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[(157, 'AC 0265', 'Accounting Information Systems', 20, 24, -4, 1218)]

## Which professors have the most diverse courseload? (DONE)

In [30]:
%%sql
SELECT professor_id, Name, COUNT(DISTINCT Course_id) AS CourseCount
FROM PROFESSORS_DW
    JOIN CLASS_FACTS_DW USING (professor_id)
    JOIN COURSES_DW USING (course_id)
    GROUP BY professor_id, Name
    ORDER BY CourseCount DESC
    LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(161, 'Jeffrey N.  Denenberg', 18),
 (110, 'Michael P.  Pagano', 17),
 (65, 'Aaron R.  Van Dyke', 16),
 (111, 'Qin   Zhang', 15),
 (511, 'Amalia I.  Rusu', 15),
 (576, 'Shannon P.  Gerry', 14),
 (67, 'Diane J.  Brousseau', 13),
 (84, 'John R.  Miecznikowski', 13),
 (93, 'Amanda S.  Harper-Leatherman', 13),
 (117, 'Virginia A.  Kelly', 13)]

In [34]:
%%sql
SELECT DISTINCT term, catalog_id, course_title
FROM COURSES_DW
    JOIN CLASS_FACTS_DW USING (course_id)
    WHERE professor_id = '161';

 * sqlite:///CourseDataWarehouse.db
Done.

[('Fall2017', 'ECE 0461', 'Green Power Generation'),
 ('Fall2017', 'EE 0213L', 'Electric Circuits Lab'),
 ('Fall2017', 'EE 0231', 'Introduction to Electronics Circuits and Devices'),
 ('Fall2017', 'EE 0231L', 'Electronics Circuits Lab'),
 ('Fall2017', 'EE 0361', 'Green Power Generation'),
 ('Fall2018', 'BEN 0331', 'Biomedical Signal Processing'),
 ('Fall2018', 'CR 0331', 'Biomedical Signal Processing'),
 ('Fall2018', 'EE 0213L', 'Electric Circuits Lab'),
 ('Fall2018', 'EE 0231L', 'Electronics Circuits Lab'),
 ('Spring2018', 'CR 0245L', 'Digital Design I Lab'),
 ('Spring2018', 'ECE 0411', 'Digital Signal Processing'),
 ('Spring2018', 'EE 0331L', 'Analog Electronics Lab'),
 ('Spring2018', 'EG 0300', 'Feedback Control Systems'),
 ('Spring2018', 'ME 0400', 'Feedback and Control Systems'),
 ('Spring2019', 'ECE 0495', 'Power Generation and Distribution'),
 ('Spring2019', 'EE 0331L', 'Analog Electronics Lab'),
 ('Spring2019', 'EE 0385', 'Power Generation and Distribution'),
 ('Spring2019', 'SW 0461', 'Pattern Recognition')]

## On which day are the most/least classes held? (DONE)

In [6]:
%%sql
SELECT DISTINCT Day, count(Day) as Count
FROM TIMECODES_DW
GROUP BY Day
ORDER BY Count DESC;

 * sqlite:///CourseDataWarehouse.db
Done.

[('T', 249),
 ('W', 243),
 ('R', 206),
 ('M', 196),
 ('F', 137),
 ('S', 45),
 ('U', 14)]

## During which time slot are the most classes held?

In [7]:
%%sql
SELECT COUNT(*)
FROM TIMECODES_DW
WHERE Start = '12:30:00';

 * sqlite:///CourseDataWarehouse.db
Done.

[(49,)]

## Which professor has taught the most classes? students? (use actual, not cap)

Comment- double check if this is right. Might be over counting bc of same problem as first question

In [8]:
%%sql
SELECT Professor_id AS ID, program_name AS Program, Name, COUNT(Course_title) AS Courses_Taught
FROM PROFESSORS_DW    
    JOIN CLASS_FACTS_DW USING (professor_id)
    JOIN PROGRAMS_DW USING (program_id)
    JOIN COURSES_DW USING (course_id)
    GROUP BY ID
    ORDER BY Courses_Taught DESC
    LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(984, 'Accounting', 'Victor E.  Hartman', 72),
 (374, 'Nursing', 'Mary M  Murphy', 67),
 (9, 'Accounting', 'Milo W.  Peck', 63),
 (457, 'Physics', 'Bidyut B.  Das', 57),
 (842, 'Spanish', 'Lauren S.  Gaskill', 56),
 (383, 'Nursing', 'Laura A.  Conklin', 54),
 (379, 'Nursing', 'Kelly Ann  Sullivan', 51),
 (14, 'Accounting', 'Patricia M.  Poli', 47),
 (251, 'Sociology', 'Rose P.  Rodrigues', 46),
 (398, 'Nursing', 'Martha Ann  Boulton', 46)]

In [9]:
%%sql
SELECT Professor_id AS ID, program_name AS Program, Name, SUM(actual) AS Students_Taught
FROM PROFESSORS_DW    
    JOIN CLASS_FACTS_DW USING (professor_id)
    JOIN PROGRAMS_DW USING (program_id)
    JOIN COURSES_DW USING (course_id)
    GROUP BY ID
    ORDER BY Students_Taught DESC
    LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(374, 'Nursing', 'Mary M  Murphy', 3249),
 (380, 'Nursing', 'Katherine Marie  Saracino', 1611),
 (9, 'Accounting', 'Milo W.  Peck', 1598),
 (51, 'Biology', 'Christine   Earls', 1319),
 (52, 'Biology', 'Anthony J.  DeCristofaro', 1190),
 (457, 'Physics', 'Bidyut B.  Das', 1121),
 (307, 'Marketing', 'John E.  Neal', 1110),
 (984, 'Accounting', 'Victor E.  Hartman', 1077),
 (297, 'Management', 'Paul P.  Daulerio', 1058),
 (496, 'Religious Studies', 'John E.  Thiel', 1008)]

## Which classes are attracting <10 students? (which classes are the least popular--- ratio?)

In [39]:
%%sql
-- Find classes where actual is <10 
-- Also get the count of each value
SELECT Course_title as Course, Catalog_id, Name, COURSES_DW.CatalogYear, Term, Actual
    FROM COURSES_DW
    JOIN CLASS_FACTS_DW USING (course_id)
    JOIN PROFESSORS_DW USING (professor_id)
    JOIN TIMECODES_DW USING (timecode_id)
    JOIN PROGRAMS_DW USING (program_id)
    WHERE Actual < 10
    GROUP BY Course_title
    ORDER BY Actual DESC

LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Advanced Linear Systems', 'ECE 0457', 'Hongmei   Li', '2018_2019', 'Fall2018', 9),
 ('Advanced Portfolio Workshop', 'ENW 0399', 'Michael C.  White', '2017_2018', 'Spring2018', 9),
 ('Applied Statistics II', 'MA 0418', 'Benjamin   Fine', '2017_2018', 'Spring2018', 9),
 ('Art of Africa, the Caribbean, and the Americas', 'AH 0013', 'Dawn M.  Pilotti', '2017_2018', 'Summer2018', 9),
 ('Biochemistry Lab', 'BI 0324L', 'Aaron R.  Van Dyke', '2017_2018', 'Fall2017', 9),
 ('Biology Research I', 'BI 0391', 'Soyong   Byun', '2017_2018', 'Fall2017', 9),
 ('Biomechanics', 'BEN 0201', 'Susan L.  Freudzon', '2018_2019', 'Fall2018', 9),
 ('Biomedical Imaging', 'BEN 0332', 'Susan L.  Freudzon', '2017_2018', 'Spring2018', 9),
 ('Building Brand Equity', 'MK 0535', 'Mark S.  Ligas', '2017_2018', 'Winter2018', 9),
 ('Capital Budgeting', 'FI 0575', 'Thomas E.  Conine', '2018_2019', 'Spring2019', 9),
 ('Chemical Analysis Lab', 'CH 0222L', 'Amanda S.  Harper-Leatherman', '2017_2018', 'Spring2018', 9),
 ('Chemical Instrumentation', 'CH 0326', 'Amanda S.  Harper-Leatherman', '2017_2018', 'Fall2017', 9),
 ('Collaboration and Consultation for the Special Educator', 'SE 0550', 'Deborah L.  Edelman', '2017_2018', 'Summer2018', 9),
 ('Communication Processes in Organizations: Negotiation', 'CO 0321', 'Michael P.  Pagano', '2017_2018', 'Fall2017', 9),
 ('Comprehensive Exam in Clinical Mental Health Counseling', 'CN 0099', 'Tracey   Robert', '2017_2018', 'Fall2017', 9),
 ('Comprehensive Examination in School Psychology', 'PY 0099', 'Paula   Gill Lopez', '2018_2019', 'Spring2019', 9),
 ('Contemporary Spanish Theatre', 'SP 0346', 'Jerelyn M.  Johnson', '2017_2018', 'Fall2017', 9),
 ('Coordinating Seminar', 'GM 0381', 'Eileen   Wilkinson', '2017_2018', 'Fall2017', 9),
 ('Coordinating Seminar I', 'SP 0381', 'Jerelyn M.  Johnson', '2017_2018', 'Spring2018', 9),
 ('Criminal Justice System Seminar', 'SO 0279', 'Rose P.  Rodrigues', '2017_2018', 'Summer2018', 9)]

In [40]:
%%sql
-- Find classes where actual is <10 
-- Also get the count of each value
SELECT Course_title as Course, Program_Name as Program, Catalog_id, Section, Name, Day, COURSES_DW.CatalogYear, Term, Actual
    FROM COURSES_DW
    JOIN CLASS_FACTS_DW USING (course_id)
    JOIN PROFESSORS_DW USING (professor_id)
    JOIN TIMECODES_DW USING (timecode_id)
    JOIN PROGRAMS_DW USING (program_id)
WHERE Actual < 10   
ORDER BY Actual ASC, Program

LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Biology Research IV', 'Biology', 'BI 0394', '01', 'Catherine J.  Andersen', 'W', '2018_2019', 'Fall2018', 0),
 ('Biology Research V', 'Biology', 'BI 0395', '01', 'Catherine J.  Andersen', 'W', '2018_2019', 'Fall2018', 0),
 ('Biology Research VI', 'Biology', 'BI 0396', '01', 'Catherine J.  Andersen', 'W', '2018_2019', 'Fall2018', 0),
 ('Biology Research VI', 'Biology', 'BI 0396', '01', 'Diane J.  Brousseau', 'W', '2017_2018', 'Spring2018', 0),
 ('Biology Research V', 'Biology', 'BI 0395', '01', 'Shannon P.  Gerry', 'W', '2018_2019', 'Spring2019', 0),
 ('Biology Research VI', 'Biology', 'BI 0396', '01', 'Shannon P.  Gerry', 'W', '2018_2019', 'Spring2019', 0),
 ('Insurance Planning and Risk Management', 'Business', 'BB 0132', '01', 'TBA', 'W', '2018_2019', 'Spring2019', 0),
 ('Research and Seminar', 'Chemistry', 'CH 0398', 'LKS', 'Lawrence Kraig  Steffen', 'F', '2018_2019', 'Spring2019', 0),
 ('Embedded Microcontrollers', 'Electrical and Computer Engineering', 'ECE 0448', '01', 'Douglas A.  Lyon', 'W', '2018_2019', 'Fall2018', 0),
 ('Embedded Microcontrollers Lab', 'Electrical and Computer Engineering', 'ECE 0448L', '01', 'Eugenio   Lopes', 'T', '2018_2019', 'Fall2018', 0),
 ('Interior Design I', 'Interior Design', 'IN 0110', '02N', 'Robert A.  Hardy', 'R', '2018_2019', 'Fall2018', 0),
 ('Interior Design IV', 'Interior Design', 'IN 0213', '01N', 'Robert A.  Hardy', 'W', '2018_2019', 'Fall2018', 0),
 ('Business of Interior Design', 'Interior Design', 'IN 0221', '01N', 'Patrick A.  Kennedy', 'M', '2018_2019', 'Fall2018', 0),
 ('Color Design', 'Interior Design', 'IN 0107', '01N', 'Richard S.  Killeaney', 'W', '2017_2018', 'Spring2018', 0),
 ('Sustainable Design', 'Interior Design', 'IN 0121', '01N', 'Hollis A.  Sutherland', 'T', '2017_2018', 'Spring2018', 0),
 ('Sustainable Design', 'Interior Design', 'IN 0121', '01N', 'Hollis A.  Sutherland', 'T', '2018_2019', 'Spring2019', 0),
 ('Interior Design II', 'Interior Design', 'IN 0211', '02N', 'Hollis A.  Sutherland', 'T', '2018_2019', 'Spring2019', 0),
 ('Rendering', 'Interior Design', 'IN 0122', '01N', 'Robert A.  Hardy', 'F', '2017_2018', 'Summer2018', 0),
 ('Rendering', 'Interior Design', 'IN 0122', '01N', 'Robert A.  Hardy', 'M', '2017_2018', 'Summer2018', 0),
 ('Rendering', 'Interior Design', 'IN 0122', '01N', 'Robert A.  Hardy', 'W', '2017_2018', 'Summer2018', 0)]