# CourseData Tests

In [1]:
%load_ext sql

In [2]:
%%sql 
sqlite:///CourseData.db

'Connected: @CourseData.db'

# Domain Integrity Queries -- the allowed values of an attribute determin domain integrity, definitions include data type, length, range or constraints

# -query checks that CourseID, Catalog_ID, Title are correct when provided Program_Code and Program_Name

In [4]:
%%sql
SELECT course_ID, catalog_ID,Course_Title,program_code,program_name
FROM COURSES
    LEFT JOIN PROGRAMS USING (program_id)
    LIMIT 10;

 * sqlite:///CourseData.db
Done.

[(1, 'AN 0301', 'Independent Study', 'AN', 'Asian Studies'),
 (2, 'AN 0310', 'Asian Studies Seminar', 'AN', 'Asian Studies'),
 (3, 'BU 0211', 'Legal Environment of Business', 'BU', 'Business'),
 (4, 'BU 0220', 'Environmental Law and Policy', 'BU', 'Business'),
 (5, 'BU 0311', 'The Law of Contracts, Sales, and Property', 'BU', 'Business'),
 (6, 'BU 0312', 'The Law of Business Organizations and Financial Transactions', 'BU', 'Business'),
 (7, 'BU 0320', 'Employment Law and Discrimination in the Workplace', 'BU', 'Business'),
 (8, 'BU 0391', 'Seminar in Business Law and Ethics', 'BU', 'Business'),
 (9, 'BL 0101', 'Black Lives Matter', 'BL', 'Black Studies'),
 (10, 'BL 0398', 'Independent Study', 'BL', 'Black Studies')]

# Entity Integrity Queries -- testing to ensure that each object represented by a row in the table should be distiguishable from any other object (unique entity or do the # of records in each table look right)

In [9]:
%%sql
SELECT count(Catalog_ID)
FROM COURSES;

 * sqlite:///CourseData.db
Done.

[(4440,)]

In [10]:
%%sql
SELECT DISTINCT count (Catalog_ID)
FROM COURSES;

 * sqlite:///CourseData.db
Done.

[(4440,)]

In [7]:
%%sql
SELECT count (Program_name)
FROM PROGRAMS;

 * sqlite:///CourseData.db
Done.

[(83,)]

In [8]:
%%sql
SELECT DISTINCT count(Program_name)
FROM PROGRAMS;

 * sqlite:///CourseData.db
Done.

[(83,)]

In [11]:
%%sql
SELECT count (crn)
FROM COURSE_OFFERINGS;

 * sqlite:///CourseData.db
Done.

[(15937,)]

In [13]:
%%sql
SELECT count (Meetings)
FROM COURSE_OFFERINGS;

 * sqlite:///CourseData.db
Done.

[(15937,)]

In [5]:
%%sql
SELECT count (name)
FROM PROFESSORS;

 * sqlite:///CourseData.db
Done.

[(1104,)]

In [6]:
%%sql
SELECT DISTINCT count (name)
FROM PROFESSORS;

 * sqlite:///CourseData.db
Done.

[(1104,)]

In [14]:
%%sql
SELECT count(start)
FROM MEETINGS;

 * sqlite:///CourseData.db
Done.

[(284847,)]

In [15]:
%%sql
SELECT count (end)
FROM MEETINGS;

 * sqlite:///CourseData.db
Done.

[(284847,)]

In [16]:
%%sql
SELECT count (location)
FROM LOCATIONS;

 * sqlite:///CourseData.db
Done.

[(207,)]

In [17]:
%%sql
SELECT DISTINCT count (location)
FROM LOCATIONS;

 * sqlite:///CourseData.db
Done.

[(207,)]

# Relational Integrity Queries -- testing to ensure that table relationships are consistent, or that any foreign key field must agree with the primary key that is referenced by the foreign key.  Are the FKs JOIN-compatible with the PKs? does each mandatory relationship have a corresponding NOT NULL constraint?

In [20]:
%%sql
--Does Catalog_ID make sense with Program_Code & Program_Name?
SELECT catalog_ID,Course_Title,program_code,program_name
FROM COURSES
    LEFT JOIN PROGRAMS USING (program_id)
    LIMIT 5;

 * sqlite:///CourseData.db
Done.

[('AN 0301', 'Independent Study', 'AN', 'Asian Studies'),
 ('AN 0310', 'Asian Studies Seminar', 'AN', 'Asian Studies'),
 ('BU 0211', 'Legal Environment of Business', 'BU', 'Business'),
 ('BU 0220', 'Environmental Law and Policy', 'BU', 'Business'),
 ('BU 0311', 'The Law of Contracts, Sales, and Property', 'BU', 'Business')]

# Check that Professor Lane teaches Economics classes

In [49]:
%%sql
SELECT Name,Title,Section,Term
FROM PROFESSORS
    JOIN COURSE_OFFERINGS USING (professor_ID)
    WHERE Name LIKE '%Lane%'
    ORDER BY Term;

 * sqlite:///CourseData.db
Done.

[('Philip J.  Lane', 'Introduction to Microeconomics', 'C', 'Fall2014'),
 ('Philip J.  Lane', 'Money and Banking', 'A', 'Fall2014'),
 ('Philip J.  Lane', 'Independent Study-  201409', 'A', 'Fall2014'),
 ('Philip J.  Lane', 'Internship-201409', 'A', 'Fall2014'),
 ('Philip J.  Lane', 'Senior Seminar', 'A', 'Fall2014'),
 ('Philip J.  Lane', 'Introduction to Microeconomics', 'C02', 'Fall2015'),
 ('Philip J.  Lane', 'Money and Banking', 'A', 'Fall2015'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Fall2015'),
 ('Philip J.  Lane', 'Internship', 'A', 'Fall2015'),
 ('Philip J.  Lane', 'Senior Seminar', 'A', 'Fall2015'),
 ('Philip J.  Lane', 'Introduction to Microeconomics', '03C', 'Fall2016'),
 ('Philip J.  Lane', 'Money and Banking', '01', 'Fall2016'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Fall2016'),
 ('Philip J.  Lane', 'Internship', '01', 'Fall2016'),
 ('Philip J.  Lane', 'Senior Seminar', '01', 'Fall2016'),
 ('Philip J.  Lane', 'Internship', 'PL', 'Fall2016'),
 ('Philip J.  Lane', 'Introduction to Microeconomics', '03C', 'Fall2017'),
 ('Philip J.  Lane', 'Money and Banking', '01', 'Fall2017'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Fall2017'),
 ('Philip J.  Lane', 'Internship', '01', 'Fall2017'),
 ('Philip J.  Lane', 'Macroeconomics Seminar', '01', 'Fall2017'),
 ('Philip J.  Lane', 'Introduction to Microeconomics', '03C', 'Fall2018'),
 ('Philip J.  Lane', 'Money and Banking', '01', 'Fall2018'),
 ('Philip J.  Lane', 'Internship', '01', 'Fall2018'),
 ('Philip J.  Lane', 'Macroeconomics Seminar', '01', 'Fall2018'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', 'S', 'Spring2015'),
 ('Philip J.  Lane', 'Intermediate Macroeconomic Theory', 'A', 'Spring2015'),
 ('Philip J.  Lane', 'Intermediate Macroeconomic Theory', 'B', 'Spring2015'),
 ('Philip J.  Lane', 'Intermediate Macroeconomic Theory Lab', 'C', 'Spring2015'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Spring2015'),
 ('Philip J.  Lane', 'Internship', 'A', 'Spring2015'),
 ('Philip J.  Lane', 'Financial Markets and Institutions', 'A', 'Spring2015'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Spring2016'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', 'O', 'Spring2016'),
 ('Philip J.  Lane', 'Intermediate Macroeconomic Theory', 'A', 'Spring2016'),
 ('Philip J.  Lane', 'Intermediate Macroeconomic Theory', 'B', 'Spring2016'),
 ('Philip J.  Lane', 'Intermediate Macroeconomic Theory Lab', 'A', 'Spring2016'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Spring2016'),
 ('Philip J.  Lane', 'Internship', 'PL', 'Spring2016'),
 ('Philip J.  Lane', 'Financial Markets and Institutions', 'A', 'Spring2016'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', '14', 'Spring2017'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', '17', 'Spring2017'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Spring2017'),
 ('Philip J.  Lane', 'Internship', '01', 'Spring2017'),
 ('Philip J.  Lane', 'Financial Markets and Institutions', '01', 'Spring2017'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', '11', 'Spring2018'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', '14', 'Spring2018'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', '15', 'Spring2018'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Spring2018'),
 ('Philip J.  Lane', 'Financial Markets and Institutions', '01', 'Spring2018'),
 ('Philip J.  Lane', 'Independent Study', 'PL', 'Spring2019'),
 ('Philip J.  Lane', 'Introduction to Microeconomics', 'A', 'Summer2015'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', 'A', 'Summer2015'),
 ('Philip J.  Lane', 'Money and Banking', 'A', 'Summer2015'),
 ('Philip J.  Lane', 'Global Financial Markets and Institutions', '01', 'Summer2015'),
 ('Philip J.  Lane', 'Introduction to Macroeconomics', '01', 'Summer2016'),
 ('Philip J.  Lane', 'Global Financial Markets and Institutions', '01', 'Summer2016'),
 ('Philip J.  Lane', 'Introduction to Microeconomics', '01', 'Summer2017'),
 ('Philip J.  Lane', 'Global Financial Markets and Institutions', '01', 'Summer2017'),
 ('Philip J.  Lane', 'Introduction to Microeconomics', '01', 'Summer2018'),
 ('Philip J.  Lane', 'Global Financial Markets and Institutions', '01', 'Summer2018')]

# Check that Title and Course_Title are the same

In [50]:
%%sql
SELECT Crn,Term,Title,COURSES.Catalog_ID,COURSES.Course_Title
FROM COURSE_OFFERINGS
     JOIN COURSES USING(course_ID)
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('71188', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71205', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71206', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71207', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71208', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71209', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71371', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71384', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71572', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71804', 'Fall2017', 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting')]

# Check that Day, Start, End match Meetings

In [52]:
%%sql
SELECT COURSE_OFFERINGS.Crn,Day,Start,End,COURSE_OFFERINGS.Section,Meetings
FROM MEETINGS
    JOIN COURSE_OFFERINGS USING (Offering_ID)
LIMIT 20;

 * sqlite:///CourseData.db
Done.

[('70384', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-09-05T08:00:00', '2014-09-05T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-09-09T08:00:00', '2014-09-09T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-09-12T08:00:00', '2014-09-12T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-09-16T08:00:00', '2014-09-16T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-09-19T08:00:00', '2014-09-19T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-09-23T08:00:00', '2014-09-23T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-09-26T08:00:00', '2014-09-26T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-09-30T08:00:00', '2014-09-30T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-03T08:00:00', '2014-10-03T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-10-07T08:00:00', '2014-10-07T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-10T08:00:00', '2014-10-10T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-17T08:00:00', '2014-10-17T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-10-21T08:00:00', '2014-10-21T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-24T08:00:00', '2014-10-24T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-10-28T08:00:00', '2014-10-28T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-31T08:00:00', '2014-10-31T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-11-04T08:00:00', '2014-11-04T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-11-07T08:00:00', '2014-11-07T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-11-11T08:00:00', '2014-11-11T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]")]